<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary"> Processos </mat-toolbar>

    <table mat-table [dataSource]="processos" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- numero Column -->
      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef>Numero</th>
        <td mat-cell *matCellDef="let e">{{ e.numero }}</td>
      </ng-container>

      <!-- Digito Column -->
      <ng-container matColumnDef="digito">
        <th mat-header-cell *matHeaderCellDef>Digito</th>
        <td mat-cell *matCellDef="let e">{{ e.digito }}</td>
      </ng-container>

      <!-- Ano Column -->
      <ng-container matColumnDef="ano">
        <th mat-header-cell *matHeaderCellDef>Ano</th>
        <td mat-cell *matCellDef="let e">{{ e.ano }}</td>
      </ng-container>

      <!-- Justiça Column -->
      <ng-container matColumnDef="justica">
        <th mat-header-cell *matHeaderCellDef>Justiça</th>
        <td mat-cell *matCellDef="let e">{{ e.justica }}</td>
      </ng-container>

      <!-- Vara Column -->
      <ng-container matColumnDef="vara">
        <th mat-header-cell *matHeaderCellDef>Vara</th>
        <td mat-cell *matCellDef="let e">{{ e.vara }}</td>
      </ng-container>

      <!-- Cliente Column -->
      <ng-container matColumnDef="clienteNome">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let e">{{ e.clienteNome }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
