<mat-table [dataSource]="processos">
  <!--- Note that these columns can be defined in any order.
  The actual rendered columns are set as a property on the row definition" -->

  <!-- numero Column -->
  <ng-container matColumnDef="numero">
    <mat-header-cell *matHeaderCellDef>Numero</mat-header-cell>
    <mat-cell *matCellDef="let e">{{ e.numero }}</mat-cell>
  </ng-container>

  <!-- Digito Column -->
  <ng-container matColumnDef="digito">
    <mat-header-cell *matHeaderCellDef>Digito</mat-header-cell>
    <mat-cell *matCellDef="let e">{{ e.digito }}</mat-cell>
  </ng-container>

  <!-- Ano Column -->
  <ng-container matColumnDef="ano">
    <mat-header-cell *matHeaderCellDef>Ano</mat-header-cell>
    <mat-cell *matCellDef="let e">{{ e.ano }}</mat-cell>
  </ng-container>

  <!-- Justiça Column -->
  <ng-container matColumnDef="justica">
    <mat-header-cell *matHeaderCellDef>Justiça</mat-header-cell>
    <mat-cell *matCellDef="let e">{{ e.justica }}</mat-cell>
  </ng-container>

  <!-- Tribual Column -->
  <ng-container matColumnDef="tribunal">
    <mat-header-cell *matHeaderCellDef>Tribual</mat-header-cell>
    <mat-cell *matCellDef="let e">{{ e.tribunal }}</mat-cell>
  </ng-container>

  <!-- Vara Column -->
  <ng-container matColumnDef="vara">
    <mat-header-cell *matHeaderCellDef>Vara</mat-header-cell>
    <mat-cell *matCellDef="let e">{{ e.vara }}</mat-cell>
  </ng-container>

  <!-- Cliente Column -->
  <ng-container matColumnDef="clienteNome">
    <mat-header-cell *matHeaderCellDef>Cliente</mat-header-cell>
    <mat-cell *matCellDef="let e">
      {{ e.clienteNome }}
      <mat-icon
        aria-hidden="false"
        aria-label="Cliente"
        fontIcon="{{ e.clienteNome | cliente }}"
      ></mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="Actions">
    <mat-header-cell *matHeaderCellDef>
      <button
        mat-mini-fab
        color="accent"
        aria-label="Adicionar um processo"
        class="action-column-header"
        (click)="onAdd()"
      >
        <mat-icon>add </mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let processo">
      <button
        mat-icon-button
        color="primary"
        aria-label="Editar processo"
        (click)="onEdit(processo)"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Deletar processo">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
